{% extends 'index.html' %}
{% load bootstrap5 %}


{% block content %}
<div>
    <div style="height: 65px"></div>
    <hr>
    <div>
        <h4>Formulaire de recherche</h4>
        <p>Les resultats vous seront envoyés par email !</p>
        <hr>
    </div>

    <form action="{% url 'webscraper:envoiMail' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {% bootstrap_form  formulaire layout='horizontal' %}
            <button type="submit" class="button btn btn-primary"> Valider et envoyer par Email</button>
        </div>
    </form>

</div>
{% endblock %}

{% block js %}
    <script>
      $(function () {
        $("#datetimepicker1").datepicker({
          format: 'DD/MM/YYYY',
        });
        $("#datetimepicker2").datepicker({
          format: 'DD/MM/YYYY',
        });
      });
    </script>
{% endblock %}