{% extends 'index.html' %}

{% block content %}
<div>
    <div style="height: 65px"></div>
    <hr>
    <table id="table" class="display" width="100%">
      <thead>
        <tr>
            <th scope="col">MARQUE</th>
            <th scope="col">VILLE</th>
            <th scope="col">PRIX MOYEN</th>
        </tr>
      </thead>
      <tbody>
        <!-- Contenu du tableau -->
      </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
<script>
    first_init = true;
    function getProduits() {
        if(first_init){
                tableau_liste = $('#table').DataTable({
                    language: {
                        "url": "//cdn.datatables.net/plug-ins/1.11.2/i18n/fr_fr.json"
                    },
                    processing: false,
                    serverSide: false,
                    ajax: "{% url 'webscraper:getMoyennePrix' %}",
                    columns: [
                        { data: "marque" },
                        { data: "ville" },
                        { data: "prixmoyen" }
                    ]
                });
                first_init = false;
            }else{
                if (tableau_liste) tableau_liste.clear();
                tableau_liste.ajax.url( "{% url 'webscraper:getMoyennePrix' %}" ).load()
            }
    }
    $(document).ready(function() {
        getProduits();

        setInterval(()=>{
            getProduits();
        }, 300000);

        //$('.table').DataTable();
    } );
</script>
{% endblock %}